###Files and folders specified here will never be tracked.

# Local overrides--you can use this to change the config for your dev environment (like setting up SQL) without worrying about committing it
/config/dev_overrides.txt

#Ignore everything in datafolder and subdirectories
/data/**/*
/tmp/**/*
/cache/**/*

#Ignore byond config folder.
/cfg/**/*

#Ignore compiled files and other files generated during compilation.
*.mdme
*.mdme.*
*.dmb
*.rsc
*.m.dme
*.test.dme
*.lk
*.int
*.backup
*.dmm-pal